name: Build

on:
  push:
    branches:
      - main

jobs:
  build-and-push-container-iamge:
    name: Build and push a sha tagged container image
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build image
        run: make docker-build
      - name: Push image to DockerHub
        run: make docker-push
